.header {
    height: 3.5rem;
}

.sidebar-header {
    flex: 0 0 14rem;
}

.body-header {
    flex: calc(100% - 14rem);
}

.notification-menu,
.comment-menu {
    width: 16rem;
}

.notification-img {
    width: 3rem;
    max-height: 50px;
}

.comment-circle {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: green;
}

.comment-menu-item {
    max-height: 300px;
    overflow: auto;
}

.comment-menu-item::-webkit-scrollbar {
    display: none;
}

.prof-avatar {
    width: 2rem;
}

.user-profile-head span {
    font-size: 14px;
    margin-right: 8px;
}

.user-profile-menu {
    width: 14rem;
}

@media only screen and (max-width: 767.98px) {
    .header {
        display: block !important;
    }

    .sidebar-header {
        width: 100%;
        padding: 5px;
    }

    .body-header {
        padding: 5px;
        display: none !important;
    }
}