.header {
    z-index: 100;
    height: 3.5rem;
}

.sidebar-header {
    flex: 0 0 14rem;
}

.body-header {
    flex: calc(100% - 14rem);
}

.notification-menu,
.comment-menu {
    width: 16rem;
}

.notification-img {
    width: 3rem;
    max-height: 50px;
}

.comment-circle {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: green;
}

.comment-menu-item {
    max-height: 300px;
    overflow: auto;
}

.comment-menu-item::-webkit-scrollbar {
    display: none;
}

.prof-avatar {
    width: 2rem;
}

.user-profile-head span {
    font-size: 14px;
    margin-right: 8px;
}

.user-profile-menu {
    width: 14rem;
}

@media only screen and (max-width: 767.98px) {
    .header {
        display: block !important;
    }

    .sidebar-header {
        width: 100%;
        padding: 5px;   
    }

    .body-header {
        padding: 5px;
        display: none !important;
    }

    aside {
        display: none;
    }

    .main-body {
        margin-right: 0 !important;
    }
}

main {
    width: 100%;
    height: calc(100vh - 3.5rem);
    margin-top: 3.5rem;
}

.sidebar-menu {
    width: 14rem;
    height: 100%;
    overflow: auto;
}

.sidebar-menu::-webkit-scrollbar {
    display: none;
}

.sidebar-link {
    transition: all ease-in-out 0.2s;
}

.sidebar-link:hover {
    color: #FE8A7D !important;
}

.sidebar-group-link-active {
    border-right: #FE8A7D;
}

.sidebar-dropdown-head {
    color: #dcdcdc;
    transition: all ease-in-out 0.2s;
}

.sidebar-dropdown-head:hover {
    color: #ffffff;
}

.main-body {
    margin-right: 14rem;
}