@font-face {
    font-family: iransans;
    src: url('../fonts/IRANSansWeb_Light.woff') format('woff');
}

* {
    direction: rtl;
    text-align: right;
    font-family: iransans;
}

.bg-gray {
    background: #404E67;
    color: #dcdcdc;
}

.logo {
    max-height: 3.5rem;
}

svg {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.bg-search {
    background: #dcdcdc;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

.font-small {
    font-size: 12px;
}

.font-medium {
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #dcdcdc !important;
    opacity: 0.8;
    transition: all ease-in-out 0.2s;
}

a:hover {
    opacity: 1;
}

.bg-custom-yellow {
    background: linear-gradient(to right, #feb798, #fe9365);
}

.bg-custom-green {
    background: linear-gradient(to right, #0df3a3, #0ac282);
}

.bg-custom-pink {
    background: linear-gradient(to right, #fe909d, #fe5d78);
}

.bg-custom-blue {
    background: linear-gradient(to right, #01dbdf, #01a9ac);
}